results/OpenML-CTR23-statistics.csv
/results
/results_20250721
/results_server
/results_20260504
/src/__pycache__
/src/outcmaes
/paper
/outcmaes
/latex
/.vscode
/.vscode
/comparison_default_hyperparameters_20250522
/results_20260509
/results_20260511
/results_20260513
/results_20260517_hyperparameter_tuning
/results_20260518_only_tree_models
/results_20260518_pysr_and_hyperparameter_tuning
/results_20260519_default
/results_20260519_hyperparameter_tuning_local
/results_20260519_only_tree_models
/results_20260522_only_tree_models_5k_estimators
/results_20260605_task_361236
/results_20260605_task_361249
/results_20260605_task_361250
/results_20260622_hyperparameter_tuning_more_time
/results_analyze_equations_deeper
/results_server_20260519
/results_server_5hours
/results_server_default_hyperparameters_20260519
/results_server_hyperparameter_tuning_20260519
/results_server_mu100_niterations1000
/results_server_mu50_niterations100
server_specs.txt
2026-02-23-openml_ctr23_statistics.csv
2026-03-03-openml_ctr23_statistics.csv
2026-03-09-openml_ctr23_statistics.csv
2026-03-19-openml_ctr23_statistics.csv
2026-04-07-openml_ctr23_statistics.csv
2026-04-17-openml_ctr23_statistics.csv
2026-04-20-openml_ctr23_statistics.csv
2026-04-21-openml_ctr23_statistics.csv
2026-04-26-openml_ctr23_statistics.csv
2026-04-27-openml_ctr23_statistics.csv
2026-05-03-openml_ctr23_statistics.csv
2026-05-04-openml_ctr23_statistics.csv
2026-05-06-openml_ctr23_statistics.csv
